# Read local JSON file

##### <font color="green"> Import library and define file source </font>

In [1]:
import pandas as pd

file = '../../data/bronze/bronze_issues.json'

##### <font color="green"> Read the JSON file. It was necessary to set the read type to Series, because setting it to Frame was returning an error </font>

In [2]:
read_series = pd.read_json(file, typ='series')
read_series

project    {'project_id': 'DT-ENG', 'project_name': 'Data...
issues     [{'id': 'JIRA-0001', 'issue_type': 'Bug', 'sta...
dtype: object

##### <font color="green"> Get list of key issues </font>

In [3]:
df = pd.json_normalize(read_series.loc['issues'])
df.head(2)

,id,issue_type,status,priority,assignee,timestamps
0,JIRA-0001,Bug,Open,Low,"[{'id': 'u002', 'name': 'Gionni Lucio', 'email...","[{'created_at': '2025-08-02T14:55:05Z', 'resol..."
1,JIRA-0002,Bug,Resolved,High,"[{'id': 'u004', 'name': 'Francinne', 'email': ...","[{'created_at': '2025-03-09T12:39:26Z', 'resol..."

##### <font color="green"> Save bronze table </font>

In [4]:
df.to_parquet("../../data/bronze/bronze_issues.parquet", index=False)

Por quê a escolha do Parquet?

Formato colunar (melhor performance para leitura analítica)

Compactação eficiente (menor tamanho de arquivo)

Mantém schema e tipos complexos (listas/dicts como no seu assignee e timestamps)

Padrão de mercado em Data Lake (Databricks, AWS, Azure, GCP)

Ideal para pipelines de dados modernos