##### <font color="green"> Installing the pandas holidays library </font>

In [1]:
pip install pandas holidays

Requirement already satisfied: pandas in c:\users\kados\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: holidays in c:\users\kados\anaconda3\lib\site-packages (0.91)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kados\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kados\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kados\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kados\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\kados\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

##### <font color="green"> Importing libraries </font>

In [2]:
import pandas as pd
from datetime import datetime
import holidays

##### <font color="green"> Define the start and end range of the calendar table. </font>

In [3]:
start_date = "2025-01-01"
end_date = "2026-01-31"
dates = pd.date_range(start=start_date, end=end_date, freq="D")

dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10',
               ...
               '2026-01-22', '2026-01-23', '2026-01-24', '2026-01-25',
               '2026-01-26', '2026-01-27', '2026-01-28', '2026-01-29',
               '2026-01-30', '2026-01-31'],
              dtype='datetime64[ns]', length=396, freq='D')

##### <font color="green"> Creating the data frame </font>

In [4]:
df = pd.DataFrame({"date": dates})
df

          date
0   2025-01-01
1   2025-01-02
2   2025-01-03
3   2025-01-04
4   2025-01-05
..         ...
391 2026-01-27
392 2026-01-28
393 2026-01-29
394 2026-01-30
395 2026-01-31

[396 rows x 1 columns]

##### <font color="green"> Names of the days of the week </font>

In [5]:
df["day_of_week"] = df["date"].dt.day_name()

df

          date day_of_week
0   2025-01-01   Wednesday
1   2025-01-02    Thursday
2   2025-01-03      Friday
3   2025-01-04    Saturday
4   2025-01-05      Sunday
..         ...         ...
391 2026-01-27     Tuesday
392 2026-01-28   Wednesday
393 2026-01-29    Thursday
394 2026-01-30      Friday
395 2026-01-31    Saturday

[396 rows x 2 columns]

##### <font color="green"> Brazilian national holidays </font>

In [6]:
br_holidays = holidays.Brazil(years=[2025, 2026])
br_holidays

{datetime.date(2025, 1, 1): 'Confraternização Universal', datetime.date(2025, 4, 18): 'Sexta-feira Santa', datetime.date(2025, 4, 21): 'Tiradentes', datetime.date(2025, 5, 1): 'Dia do Trabalhador', datetime.date(2025, 9, 7): 'Independência do Brasil', datetime.date(2025, 10, 12): 'Nossa Senhora Aparecida', datetime.date(2025, 11, 2): 'Finados', datetime.date(2025, 11, 15): 'Proclamação da República', datetime.date(2025, 11, 20): 'Dia Nacional de Zumbi e da Consciência Negra', datetime.date(2025, 12, 25): 'Natal', datetime.date(2026, 1, 1): 'Confraternização Universal', datetime.date(2026, 4, 3): 'Sexta-feira Santa', datetime.date(2026, 4, 21): 'Tiradentes', datetime.date(2026, 5, 1): 'Dia do Trabalhador', datetime.date(2026, 9, 7): 'Independência do Brasil', datetime.date(2026, 10, 12): 'Nossa Senhora Aparecida', datetime.date(2026, 11, 2): 'Finados', datetime.date(2026, 11, 15): 'Proclamação da República', datetime.date(2026, 11, 20): 'Dia Nacional de Zumbi e da Consciência Negra', datetime.date(2026, 12, 25): 'Natal'}

##### <font color="green"> Defining line by line whether it's a holiday. </font>

In [7]:
holiday_list = []

for date in df["date"]:
    if date in br_holidays:
        holiday_list.append(1)
    else:
        holiday_list.append(0)

df["holiday"] = holiday_list

df

          date day_of_week  holiday
0   2025-01-01   Wednesday        1
1   2025-01-02    Thursday        0
2   2025-01-03      Friday        0
3   2025-01-04    Saturday        0
4   2025-01-05      Sunday        0
..         ...         ...      ...
391 2026-01-27     Tuesday        0
392 2026-01-28   Wednesday        0
393 2026-01-29    Thursday        0
394 2026-01-30      Friday        0
395 2026-01-31    Saturday        0

[396 rows x 3 columns]

##### <font color="green"> Creating a column to define whether the day is a working day to consider in the SLA calculation. </font>

In [8]:
def is_business_day(row):
    if row["date"].weekday() >= 5:  # Saturday (5) or Sunday (6)
        return 0
    if row["holiday"] == 1:
        return 0
    return 1

df["business_day"] = df.apply(is_business_day, axis=1)

df

          date day_of_week  holiday  business_day
0   2025-01-01   Wednesday        1             0
1   2025-01-02    Thursday        0             1
2   2025-01-03      Friday        0             1
3   2025-01-04    Saturday        0             0
4   2025-01-05      Sunday        0             0
..         ...         ...      ...           ...
391 2026-01-27     Tuesday        0             1
392 2026-01-28   Wednesday        0             1
393 2026-01-29    Thursday        0             1
394 2026-01-30      Friday        0             1
395 2026-01-31    Saturday        0             0

[396 rows x 4 columns]

##### <font color="green"> Storing data frames in a parquet file </font>

In [9]:
df.to_parquet("../../data/silver/silver_calendar.parquet", index=False)