##### <font color="green"> Import libraries and set the file location for reading. </font>

In [1]:
import pandas as pd

file = '../../data/bronze/bronze_issues.parquet'

##### <font color="green"> Read file and store bronze table </font>

In [38]:
bronze_archive = pd.read_parquet(file)
df = pd.DataFrame(bronze_archive)

df

,id,issue_type,status,priority,assignee,timestamps
0,JIRA-0001,Bug,Open,Low,"[{'email': 'gionni.lucio@fasttrack.com', 'id':...","[{'created_at': '2025-08-02T14:55:05Z', 'resol..."
1,JIRA-0002,Bug,Resolved,High,"[{'email': 'francinne@fasttrack.com', 'id': 'u...","[{'created_at': '2025-03-09T12:39:26Z', 'resol..."
2,JIRA-0003,Story,Open,High,"[{'email': 'adyna@fasttrack.com', 'id': 'u005'...","[{'created_at': '2025-06-30T17:06:48Z', 'resol..."
3,JIRA-0004,Story,Done,High,"[{'email': 'francinne@fasttrack.com', 'id': 'u...","[{'created_at': '2025-11-22T20:24:58Z', 'resol..."
4,JIRA-0005,Task,Resolved,Medium,"[{'email': 'francinne@fasttrack.com', 'id': 'u...","[{'created_at': '2025-01-06T01:08:44Z', 'resol..."
...,...,...,...,...,...,...
995,JIRA-0996,Task,Done,Low,"[{'email': 'francinne@fasttrack.com', 'id': 'u...","[{'created_at': '2026-02-30T25:61:00Z', 'resol..."
996,JIRA-0997,Task,Open,Medium,"[{'email': 'guilherme@fasttrack.com', 'id': 'u...","[{'created_at': '2026-02-30T25:61:00Z', 'resol..."
997,JIRA-0998,Task,Resolved,Low,"[{'email': 'matheus.malta@fasttrack.com', 'id'...","[{'created_at': '2026-02-30T25:61:00Z', 'resol..."
998,JIRA-0999,Task,Done,High,"[{'email': 'adyna@fasttrack.com', 'id': 'u005'...","[{'created_at': '2026-02-30T25:61:00Z', 'resol..."
999,JIRA-1000,Bug,Open,Low,"[{'email': 'francinne@fasttrack.com', 'id': 'u...","[{'created_at': '2026-02-30T25:61:00Z', 'resol..."

##### <font color="green"> Explode the columns that are the assignee list and timestamps, and expand the dictionaries into columns. </font>

In [42]:
df_silver = df.copy()

df_silver = df_silver.explode('assignee')
df_silver = df_silver.explode('timestamps')

assignee_colunms = pd.json_normalize(df_silver['assignee'])
timestamps_colunms = pd.json_normalize(df_silver['timestamps'])

##### <font color="green"> Merge all columns </font>

In [43]:
df = pd.concat(
    [
        df_silver.drop(columns=['assignee', 'timestamps']),
        assignee_colunms,
        timestamps_colunms
    ],
    axis=1
)

##### <font color="green"> Handling non-standard records to enable string conversion to date and time. </font>

In [46]:
df['created_at'] = df['created_at'].replace('2026-02-30T25:61:00Z','2026-02-28T23:59:59Z')
df['resolved_at'] = df['resolved_at'].replace('not_a_date',None)

##### <font color="green"> String conversion to UTC date and time </font>

In [55]:
df['created_at'] = pd.to_datetime(df['created_at'], utc=True)
df['resolved_at'] = pd.to_datetime(df['resolved_at'], utc=True)

##### <font color="green"> Rename the column names </font>

In [60]:
df.columns = ['issue_id','issue_type','status','priority','assignee_email','assignee_id','assignee_name','created_at','resolved_at']
df.head(5)

,issue_id,issue_type,status,priority,assignee_email,assignee_id,assignee_name,created_at,resolved_at
0,JIRA-0001,Bug,Open,Low,gionni.lucio@fasttrack.com,u002,Gionni Lucio,2025-08-02 14:55:05+00:00,NaT
1,JIRA-0002,Bug,Resolved,High,francinne@fasttrack.com,u004,Francinne,2025-03-09 12:39:26+00:00,2025-03-10 10:39:26+00:00
2,JIRA-0003,Story,Open,High,adyna@fasttrack.com,u005,Adyna,2025-06-30 17:06:48+00:00,NaT
3,JIRA-0004,Story,Done,High,francinne@fasttrack.com,u004,Francinne,2025-11-22 20:24:58+00:00,2025-11-23 07:24:58+00:00
4,JIRA-0005,Task,Resolved,Medium,francinne@fasttrack.com,u004,Francinne,2025-01-06 01:08:44+00:00,2025-01-07 09:08:44+00:00

##### <font color="green"> Save silver table </font>

In [62]:
df.to_parquet("../../data/silver/silver_issues.parquet", index=False)

##### <font color="red"> Space reserved for exploring and understanding the data. </font>

In [6]:
df['issue_type'].value_counts().head(5)

issue_type
Story    359
Task     343
Bug      298
Name: count, dtype: int64

In [7]:
df['status'].value_counts().head(5)

status
Done        417
Resolved    394
Open        189
Name: count, dtype: int64

In [8]:
df['priority'].value_counts().head(5)

priority
Low       347
Medium    335
High      318
Name: count, dtype: int64

In [33]:
SLA = df['resolved_at'] - df['created_at']
SLA

0                 NaT
1     0 days 22:00:00
2                 NaT
3     0 days 11:00:00
4     1 days 08:00:00
            ...
995               NaT
996               NaT
997               NaT
998               NaT
999               NaT
Length: 1000, dtype: timedelta64[ns]

In [50]:
df['email'].value_counts().head(5)

email
gionni.lucio@fasttrack.com     213
francinne@fasttrack.com        212
guilherme@fasttrack.com        194
adyna@fasttrack.com            193
matheus.malta@fasttrack.com    188
Name: count, dtype: int64

In [ ]:
df['email'].value_counts().head(5)